Flask==2.3.2
Werkzeug==2.3.6
pycryptodome==3.23.0
cryptography==42.0.5
flask-cors==4.0.0
PyYAML==6.0.1
bcrypt==4.1.2
pytz==2023.3
tzlocal==5.0.1
markdown-it-py==3.0.0
beautifulsoup4==4.12.2
requests==2.31.0
qrcode==7.4.2
Pillow==10.3.0
html2text==2020.1.16
PyMuPDF==1.23.8
weasyprint==66.0
pdfkit==1.0.0
lxml==4.9.3
gmssl==3.2.2
blake3==1.0.5